 What are data structures, and why are they important?

 -> A data structure is a way of organizing and storing data in a computer so that it can be accessed and used efficiently. They are important because it can significantly impact the performance and efficiency of a program.

 Explain the difference between mutable and immutable data types with examples.

 -> Mutable data types are changeable which means they can be changed after creation.
 for eg : list, set, dictionary
 As we can add, remove or modify elements in these data types

 On the other hand, immutable data types can't be changed or modified after creation. For eg: string, integer, tuple, frozen set

 What are the main differences between lists and tuples in Python?

 -> Lists in Python are mutable which means in this elements can be added,removed or modified which is not possible in tuples.

 Describe how dictionaries store data.

 -> Dictionaries are data structure which stores data in key value pair. In this, keys are unique and immutable.

 For eg: my_dict = {1: "apple", 2: "ball", 3: "cat"}

 Why might you use a set instead of a list in Python?

 -> The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set.

 What is a string in Python, and how is it different from a list?

 -> String is data structure which stores sequence of characters and can't be changed after creation. for eg : my_str = "pwskills"

 On the other hand, An ordered collection of items  that can be of any data type and can be modified as needed. For eg: my_list = [1, 2.5, "applle"]

  How do tuples ensure data integrity in Python?

  -> Tuples ensures data integrity in Python by allowing us to create immutable sequences of values which can be of any type. This characteristic makes tuples suitable for storing fixed collections of items where the data should not change.

  What is a hash table, and how does it relate to dictionaries in Python?

  -> A hash table is a data structure that maps keys to values efficiently by using a hash function to convert keys into an index, allowing for quick data retrieval. In Python, dictionaries utilize hash tables to store key-value pairs, where the key is hashed to determine the index for the corresponding value in the underlying data structure.

   Can lists contain different data types in Python?

   -> Yes, definitely lists can contain different data types in Python like integers, floats, strings, booleans, dictionaries etc .
   For eg : my_list = [True, 3, 4.5, "ball"]

  Explain why strings are immutable in Python.

  -> strings are immutable, meaning that once a string is created, it cannot be changed. Any operation that appears to modify a string actually creates a new string object instead of modifying the original one.

   For eg : my_str = "Good"
            my_str += "Morning!" creates a new string "Good Morning!"
            print(my_str) Output = "Good Morning!"

   What advantages do dictionaries offer over lists for certain tasks?

   -> Instead of sequential searching like lists (O(n)), dictionaries use hashing to directly access elements. Additionally, Dictionaries also prevent duplicate keys, ensuring data integrity.

  Describe a scenario where using a tuple would be preferable over a list.

  -> Using a tuple is preferable over a list in scenarios where the data should remain constant throughout the program execution. For example, consider a configuration file that stores setup settings or constant values.

  tuples are more memory-efficient and faster to access than lists because they are immutable, allowing Python to allocate a single contiguous block of memory for the data.

  How do sets handle duplicate values in Python?

  -> Sets in Python are implemented using hash tables, which allows for efficient insertion and checking of membership. When you add an item to a set, Python checks if the item already exists by hashing the item. If the item is already present, it is not added again, ensuring that sets do not contain duplicates.

 How does the “in” keyword work differently for lists and dictionaries?

 -> Lists are linear in nature whereas dictionaries stored the data in key-value pairs. So "in" keyword checks if given element is present in list by iterating through list. If it is present, it will return "True" otherwise "False".

 On the other hand, "in" keyword checks for keys in dictionaries. If it is present, it will return "True" otherwise "False".

  Can you modify the elements of a tuple? Explain why or why not?

  -> No, the elements of a tuple can't be modified after its creation as it is immutable data type.

  What is a nested dictionary, and give an example of its use case?

  -> Dictionary inside a dictionary is called nested dictionary.

  Example of its use case :

  company = {
    "Sales": {
        101: {"name": "Alice", "role": "Manager", "salary": 75000},
    },

    "IT": {
        201: {"name": "Charlie", "role": "Developer", "salary": 80000},
    },

    "HR": {
        301: {"name": "Eve", "role": "HR Manager", "salary": 65000}
    }
}

Describe the time complexity of accessing elements in a dictionary.

-> Accessing an element in a dictionary using a key has O(1) (constant time) complexity as dictionary lookups are done using direct hashing (not sequential searching), they do not depend on the number of elements.

 In what situations are lists preferred over dictionaries?

 -> In following situations are lists preferred over dictionaries :

- Ordered elements .
- Indexed access (using numbers).
- Duplicate values.
- Sorting and iteration efficiency.
- Less memory consumption.

Why are dictionaries considered unordered, and how does that affect data retrieval?

-> Dictionaries are considered unordered because it stores data in key-value pairs which can't be accessed through index. Data retrieval is done through keys, ensuring efficient access but without reliance on the order of the elements.

Explain the difference between a list and a dictionary in terms of data retrieval.

-> Lists are ordered collections where elements are stored in a sequential manner. Each item in the list has an index and data can be accessed elements using these indices.

On the other hand, in dictionaries data retrieval is done through keys, ensuring efficient access but without reliance on the order of the elements.

# Practical Questions

In [1]:
# Write a code to create a string with your name and print it
name = "Preeti"
print(f"Hello, My name is Preeti")

Hello, My name is Preeti

In [2]:
# Write a code to find the length of the string "Hello World"
string = "Hello World"
print(f"length of string is {len(string)}")

length of string is 11

In [3]:
# Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
print(string[:3])

Pyt

In [4]:
# Write a code to convert the string "hello" to uppercase
string = "hello"
print(string.upper())

HELLO

In [7]:
#  Write a code to replace the word "apple" with "orange" in the string "I like apple"
string =  "I like apple"
print(string.replace("apple","orange"))

I like orange

In [9]:
# Write a code to create a list with numbers 1 to 5 and print it
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [11]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [15]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print("New list after removing 3 is",my_list)

New list after removing 3 is [1, 2, 4, 5]

In [17]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
print("second element is",my_list[1])

second element is b

In [18]:
# Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [19]:
#  Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [21]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple =  ('red', 'green', 'blue', 'yellow')
print("second-to-last element of the tuple is",my_tuple[1:])

second-to-last element of the tuple is ('green', 'blue', 'yellow')

In [28]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
print("the minimum number in the tuple is",min(my_tuple))

the minimum number in the tuple is 5

In [33]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
try:
 print(my_tuple.index("cat"))
except ValueError:
  print("cat is not present in tuple")

1

In [36]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_tuple = ("apple", "banana","mangoes")
if "kiwi" in my_tuple:
  print("Yes, kiwi is present in tuple")
else:
  print("No, kiwi is not present in tuple")

No, kiwi is not present in tuple

In [37]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

In [40]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [43]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print("set after removing element 4 is",my_set)

set after removing element 4 is {1, 2, 3}

In [44]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union = set1 | set2
print(f"union of {set1} and {set2} is {union}")

union of {1, 2, 3} and {3, 4, 5} is {1, 2, 3, 4, 5}

In [46]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection = set1 & set2
print(f"intersection of {set1} and {set2} is {intersection}")

intersection of {1, 2, 3} and {2, 3, 4} is {2, 3}

In [47]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name": "Ram", "age": 23, "city": "Birgunj"}
print(my_dict)

{'name': 'Ram', 'age': 23, 'city': 'Birgunj'}

In [49]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [50]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict["name"])

Alice

In [52]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [56]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
  print(my_dict)
else :
  print('city does not exist')

{'name': 'Alice', 'city': 'Paris'}

In [58]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]
print(my_list)
my_tuple = (100, 200, 300)
print(my_tuple)
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict)

[1, 2, 3, 4, 5]
(100, 200, 300)
{'name': 'Alice', 'age': 30}

In [60]:
#  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
my_list = [5, 30, 44, 55, 12]
print(sorted(my_list))

[5, 12, 30, 44, 55]

In [63]:
# Write a code to create a list with strings and print the element at the third index.
my_list = ["mangoes", "kiwi", "guavas", "oranges"]
print(my_list[3])

oranges

In [65]:
# Write a code to combine two dictionaries into one and print the result.
my_dict1 = {"emp_id": 2, "name": "Ram", "dept": "finance"}
my_dict2 = {"designation": "manager", "salary": 30000}
print(my_dict1 | my_dict2)

{'emp_id': 2, 'name': 'Ram', 'dept': 'finance', 'designation': 'manager', 'salary': 30000}

In [66]:
#  Write a code to convert a list of strings into a set.
my_list = ["mangoes", "kiwi", "guavas", "oranges", "mangoes"]
print(set(my_list))

{'guavas', 'kiwi', 'mangoes', 'oranges'}